.header{
    &__section{
        background-image:url("JPG/home4.jpg");
        height: 370px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: header-section;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__heading{
        margin: 40px;
        color: rgba(7, 15, 105, 0.877);
        justify-content: center;
    }

    &__para{
        margin: 10px;
        color: rgba(100, 11, 66, 0.877);
        justify-content: center;
    }

    &__line{
        width: 200px;
        background-color: blue;
        height: 5px;
    }

    &__pictures{
        background-color:rgb(197, 169, 169);
        height: 280px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        
        grid-area: header-section;
        
        & img{
            height: 200px;
            width: 240px;
            border: 1px;
            float: left;
        }

        & p{
            border: 1px solid #7a1e1ecc;
            box-shadow: 0 4px 8px 0 #7a1e1ecc;
            color:rgba(7, 8, 8, 0.966);
            font-size: x-large;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
     }


}